.gradient {
  margin: 0.75rem;
  margin-left: 0rem;
}

.titleGradient,
.gradient {
  background: linear-gradient(-45deg, slategray, rgb(71, 85, 105), #8a8d8f, #aec5c0);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
